#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

package = adduser
version = $(DEB_VERSION_UPSTREAM)

%:
	dh $@

override_dh_auto_build:
	# generate man pages
	cd doc/po4a && po4a --keep 95 --previous po4a.conf

override_dh_auto_clean:
	cd doc/po4a && po4a --keep 95 --previous --rm-translations po4a.conf

override_dh_auto_install:
	$(MAKE) -C po install DESTDIR=`pwd`/debian/adduser

override_dh_install:
	dh_install
	sed -e s/VERSION/$(version)/g adduser > debian/adduser/usr/sbin/adduser
	sed -e s/VERSION/$(version)/g deluser > debian/adduser/usr/sbin/deluser
	chmod 755 debian/adduser/usr/sbin/*
	ln -s adduser debian/adduser/usr/sbin/addgroup
	ln -s deluser debian/adduser/usr/sbin/delgroup

override_dh_compress:
	dh_compress -X examples/adduser.local
